* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: round;
    /* background-size: cover; */

}

.card {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 330px;
    border-radius: 10px;
}

.card-img img {
    width: 100%;
}

.card-content {
    text-align: center;
    padding: 1.5rem;
    background-color: white;
}